openapi: 3.0.3
info:
  title: PromptForge Web API
  description: |
    HTTP endpoints exposed by the PromptForge Next.js web app (`apps/web`).

    Authentication is handled by Clerk via cookies for browser traffic. The
    Convex HTTP endpoint (`/api/optimize` exposed by Convex itself) accepts
    a Bearer API key for headless / programmatic use.
  version: 0.1.0
  contact:
    name: PromptForge
servers:
  - url: https://app.promptforge.dev
    description: Production
  - url: http://localhost:3000
    description: Local development

tags:
  - name: billing
    description: Stripe subscription management
  - name: webhooks
    description: Inbound provider webhooks

paths:
  /api/checkout:
    post:
      tags: [billing]
      summary: Create a Stripe checkout session for the current user
      description: |
        Returns a Stripe-hosted checkout URL. Caller should redirect the user
        to that URL. Rate-limited to 5 requests/minute per user.
      security:
        - clerkSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [plan]
              properties:
                plan:
                  type: string
                  enum: [pro, team]
              example:
                plan: pro
      responses:
        '200':
          description: Checkout session created
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
                example:
                  url: https://checkout.stripe.com/c/pay/cs_test_xxx
        '400':
          description: Invalid plan or missing email
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429':
          description: Rate limit exceeded
          headers:
            X-RateLimit-Limit:
              schema: { type: integer }
            X-RateLimit-Remaining:
              schema: { type: integer }
            X-RateLimit-Reset:
              schema: { type: integer, description: Unix epoch ms }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '500':
          description: Stripe error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/webhooks/stripe:
    post:
      tags: [webhooks]
      summary: Stripe webhook receiver
      description: |
        Verifies the `Stripe-Signature` header and updates user plan in Convex
        on `checkout.session.completed`. Logs cancellation events but does
        not yet auto-downgrade.
      parameters:
        - in: header
          name: Stripe-Signature
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              description: Raw Stripe event body. Validated by signature.
              type: object
      responses:
        '200':
          description: Webhook acknowledged
          content:
            application/json:
              schema:
                type: object
                properties:
                  received: { type: boolean }
        '400':
          description: Missing or invalid signature
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

components:
  schemas:
    Error:
      type: object
      properties:
        error: { type: string }
      required: [error]
  securitySchemes:
    clerkSession:
      type: apiKey
      in: cookie
      name: __session
      description: Clerk session cookie set by the browser SDK after sign-in.
    apiKey:
      type: http
      scheme: bearer
      bearerFormat: pf_xxx
      description: |
        Convex `/optimize` HTTP route accepts a `Bearer pf_xxx` token. Generated
        from the Settings page for Pro/Team users.
